/* Estilos para la sección "Habilidades" */
.skills {
    padding: 20px;
  }
  
  .skills h2 {
    color: #333;
  }
  
  .skills ul {
    list-style: none;
    padding: 0;
  }
  
  .skills li {
    margin-bottom: 5px;
  }
  