/**Header*/
.navbar-collapse {
  justify-content: end;
  margin-right: 10px;
}

.navbar-brand {
  margin-left: 20px;
}

.navbar-nav {
  align-items: end;
  padding-right: 10px;
}
/**About me*/
.about-me-section {
  background-color: rgb(207, 207, 255);
  height: 90vh;
}

.skills-section {
  border: 1px solid magenta;
  height: 99vh;
}

.projects-section {
  border: 1px solid red;
}

.contact-section {
  border: 1px solid black;
  height: 99vh;

}