.header {
  background-color: #333;
  color: #fff;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#logo a {
  text-decoration: none;
  color: #fff;
  font-size: 1.5rem;
  font-weight: bold;
}

nav {
  display: flex;
  align-items: center;
}

.burger-menu {
  cursor: pointer;
}

.burger-bar {
  width: 25px;
  height: 3px;
  background-color: #fff;
  margin: 6px 0;
  transition: 0.4s;
}

.clicked:nth-child(1) {
  transform: rotate(-47deg) translate(-7px, 6px);
}

.clicked:nth-child(2) {
  opacity: 0;
}

.clicked:nth-child(3) {
  transform: rotate(47deg) translate(-5px, -7px);
}

.menu {
  position: absolute;
  top: 40px;
  right: 0;
  width: 100%;
  background-color: #333;
  display: none;
  flex-direction: column;
  padding: 10px;
  box-sizing: border-box;
}

.menu.visible {
  display: flex;
}

.menu a {
  text-decoration: none;
  color: #fff;
  padding: 10px;
  transition: background-color 0.3s ease;
}

.menu a:hover {
  background-color: #555;
}
 
@media (max-width: 768px) {
  .burger-menu {
    display: none; /* Ocultar el ícono de hamburguesa en dispositivos mayores a 768px */
  }

  #logo {
    order: -1; /* Mover el logo al principio en dispositivos móviles */
    margin-left: 10px; /* Agregar un pequeño margen al logo */
  }
}
.burger-menu {
  display: none; 
}

@media (max-width: 400px) {
  .burger-menu {
    display: block; /* Asegurar que el ícono de hamburguesa esté visible en dispositivos móviles */
  }

  #logo {
    order: -1;
    margin-left: 10px;
  }

  /* Resto de tus estilos para dispositivos móviles */
}