.about-me-section {
  background-color: #ffffff;
  padding: 80px 0;
}

.my-photo {
  width: 200px;
  height: 200px;
}

.description {
  padding-left: 30px;
}

.description h2 {
  font-size: 2.5rem;
  margin-bottom: 20px;
}

.description p {
  font-size: 1.2rem;
  line-height: 1.6;
}
